language = "python"
run = "python app.py"

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Run"
author = 31938565
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
